body {
  background-color: #111;
  color: white;
  margin: 0;position: relative;
}

section#images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top:0;
  overflow: hidden;
}

ul { 
  list-style: none;
  padding: 0;
}

h1 { 
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  letter-spacing: 5px;
}

section { text-align: center; }

span {
  background-color: #ccc;
  color: #222;
  display: inline-block;
  padding: 0 5px;
}

p { margin: 0 }

.border { 
  border: 2px solid #bbb;
  padding: 15px;
  margin: 0 10px;
  background-color: #111;
}

.list { 
  position: relative;
  min-height: 200px;
  max-height: 300px;
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list .vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  border: 2px solid #bbb;
  padding: 5px;
  height: 200px;
  font-family: 'Graduate', cursive;
}

.list.left .vertical { left: 10px; }
.list.right .vertical { right: 10px; }

.list.left ul { 
  padding-left: 70px; 
  text-align: left;
}
.list.right ul { 
  padding-right: 40px; 
  text-align: right;
}

section#title #logo img { 
  max-width: 300px; 
  margin-top: 50px;
  background-color: #111;
}
.imgcontainer {
  height: 300px;
}

.imgcontainer img {
  max-width: 100%;
  max-height: 100%;
}

section#dates .date {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  max-width: 300px;
  margin: auto;
  justify-items: center;
  margin-top: 10px;
}

section#dates .date .day {
  font-size: 2em;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}
section#dates .date .month {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}
section#dates .date h3 {
  font-family: 'Graduate', cursive;
  font-weight: bolder;
  align-self: flex-end;
}
section#dates .date p {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  text-shadow: #111 1px 1px 1px;
}

section#dates .date * {
  margin: 0;
}

section#description h3,
section#description p,
section#description h4{
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 0;
}


.rot1 {
  -webkit-transform: rotateZ(1deg); /* Safari */
  transform: rotateZ(1deg);
}
.rot-1 {
  -webkit-transform: rotateZ(359deg); /* Safari */
  transform: rotateZ(359deg);
}
.rot2 {
  -webkit-transform: rotateZ(2deg); /* Safari */
  transform: rotateZ(2deg);
}
.rot-2 {
  -webkit-transform: rotateZ(358deg); /* Safari */
  transform: rotateZ(358deg);
}
.rot3 {
  -webkit-transform: rotateZ(3deg); /* Safari */
  transform: rotateZ(3deg);
}
.rot-3 {
  -webkit-transform: rotateX(357deg); /* Safari */
  transform: rotateX(357deg);
}
.rot4 {
  -webkit-transform: rotateZ(4deg); /* Safari */
  transform: rotateZ(4deg);
}
.rot-4 {
  -webkit-transform: rotateX(356deg); /* Safari */
  transform: rotateX(356deg);
}

.border a {
  color: white;
  animation-duration: 1000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 20px;
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase
}

@keyframes blink {
  from {
     opacity: 1;
  }
  to {
     opacity: 0;
  }
}

@media only screen and (max-width: 900px) {
  section#images #bike {
    top: 80%;
    right: 0;
    width: 300px;
    position: absolute;
    filter: blur(1px);
  }
  section#images #rayones {
    top: 38%;
    left: -5%;
    height: 500px;
    width: 300px;
    position: absolute;
    filter: blur(3px);
  }
  section#images #manchas {
    display: none;
  }
  body {
    position: relative;
    background-image: url(./imgs/manchas.png);
  }
}

/* -------------------           DESKTOP         ---------------------- */

@media only screen and (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(1fr, 6) ;
  }

  section#images #bike {
    top: 200px;
    left:25%;
    width: 300px;
    position: absolute;
    filter: blur(1px)
  }
  section#images #rayones {
    top: 5%;
    right: 5%;
    height: 500px;
    width: 300px;
    position: absolute;
    filter: blur(3px)
  }
  section#images #manchas {
    top: 10;
    left: 0;
    width: 100%;
    position: absolute;
    filter: blur(2px)
  }

  section#title {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  section#title #logo img {
    margin-top: 10px;
  }
  section#title #logo {
    background-color: #111;
  }

  section#dates {
    grid-column: 2/4;
    grid-row: 2/4;
  }
  section#description {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  section#activities {
    grid-column: 4/5;
    grid-row: 1/3;
  }

  div#registro {
    margin-right: 15px;
  }

  section#topics {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  section#principles {
    grid-column: 4/5;
    grid-row: 3/4;
  }
}